<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Isaac Chacko</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div>
		<h1 class="name"><i>Isaac Chacko</i></h1>
	</div>
	<div>
		<p>Contact:</p>
		<p class="contact-info">(832)-621-5771</p>
		<p>//</p>
		<p class="contact-info"> isaac.chacko05@gmail.com </p>
	</div>
	<div class="blurbs">
		<p>Links:</p>
		<a href="https://github.com/isaacchacko?tab=repositories">github</a>
		<p>//</p>
		<a href="https://drive.google.com/file/d/1kTD80NnVrbNqyxKJITucdzYfbs1Rg4gr/view?usp=sharing">resume</a>
	</div>
	<div>
		<img src="/static/headshot.jpg" alt="Photo of Isaac Chacko">
		<p class="blurbs">Isaac is an enthusiastic self-taught programmer currently attending the Math and Science Academy at Dulles High School as a rising Senior.</p>
	</div>
	<div>
		<p class="blurbs">Isaac excels in school activities, qualifying for both the State and National competitions in Public Forum Debate. He is also a National Merit Scholar Semi-Finalist, and scored a 1550 on the SAT.</p>
		<img src="/static/tfa-logo.webp" alt="TFA Logo">
	</div>
	<div>
		<img src="/static/python-logo.png" alt="Python Logo">
		<p class="blurbs">Isaac is proficient with Python and its various libraries, and has ample experience with automation and web crawling processes with Selenium.</p>
	</div>
	<div>
		<p class="blurbs">In the future, Isaac aspires to major in Computer Science at the University of Texas. Later, he plans to become a Software Developer in medicine.</p>
		<img src="/static/utcs-logo.png" alt="UTCS Logo">
	</div>
</body>
</html>